html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all 500ms linear;
}

.polaroid > img {
  display: block;
  width: 100%;
  position: relative;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  left: 80px;
  bottom: 20px;
}

.polaroid:first-child {
  transform: rotate(-10deg);
  left: 20%;
  top: 100px;
  z-index: 1;
}

.polaroid:nth-child(2) {
  transform: rotate(5deg);
  left: 30%;
  top: 145px;
  z-index: 3;

}

.polaroid:last-child {
  transform: rotate(35deg);
  left: 40%;
  top: 95px;
  z-index: 2;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 20;
  box-shadow: 1px 4px 40px rgba(0, 0, 0, .5);
}
